doctype html
html
  head
    title UX Plus
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='assets/css/style.css', rel='stylesheet')

  body
    header.navigation
      .boundary.display-flex.alignItems-center
        a.uxplusLogo(href='#')
          img(src='assets/images/ux-logo.svg' alt='UX Plus 2019') 
        nav
          a.link(href='#') Speakers
          a.link(href='#') Location
          a.link(href='#') About
          a.link(href='#') FAQs
          a.button(href='#') Buy Tickets

    section.uxplusIntro
      .boundary.marginBottom-xxlarge
        img(src='assets/images/ux-logo.svg' alt='UX Plus 2019') 
        h1.marginBottom-medium An Experience Conference
        p.marginBottom-xxlarge UX+ is a one-day user experience conference tailored to design and technology students and professionals. Join us on <strong>August 24</strong> at <strong>SMX Aura</strong> in Taguig City, for a day of learning, community, and fun.
        a.button.--medium(href='#') Get your ticket now!

    section.uxplusOrganizers.bgColor-blue-pale.paddingTop-xlarge.paddingBottom-xlarge
      .boundary 
        h2 Organized by
        a(href='#').marginLeft-large-fromTablet.marginRight-large-fromTablet
          img.graphika(src='assets/images/graphika.svg' alt='Graphika Manila')
        a(href='#')
          img._8020(src='assets/images/8020.svg' alt='8020')


    section.uxplusSpeakers.bgColor-red-default.paddingTop-xxlarge.paddingBottom-xxlarge
      .boundary
        h3.textAlign-center.marginBottom-medium This Year's Speakers
      .boundary.speakers.firstSix
        a.speaker(href='#')
          img(src='assets/images/speaker1.png' alt='Paolo Malabuyo')
          .description
            h4 Paolo Malabuyo
            p Director of UX @ Google for Youtube Ads. Previously @ Netflix &amp; Microsoft
        
        a.speaker(href='#')
          img(src='assets/images/speaker2.png' alt='Eleanor Harding')
          .description
            h4 Eleanor Harding
            p Product Manager @ Twitter. Previously a Product Designer @ NASA

        a.speaker(href='#')
          img(src='assets/images/speaker3.png' alt='JP de Guzman')
          .description
            h4 JP de Guzman
            p Chief Creative @ Frost Design
        
        a.speaker(href='#')
          img(src='assets/images/speaker4.png' alt='Ely Apao')
          .description
            h4 Ely Apao
            p Customer Experience Manager @ JG Summit Holdings
            
        a.speaker(href='#')
          img(src='assets/images/speaker5.png' alt='Benjamin Hersh')
          .description
            h4 Benjamin Hersh
            p Product Designer @ Dropbox. Previously @ Medium
        
        a.speaker(href='#')
          img(src='assets/images/speaker6.png' alt='Denise Haak')
          .description
            h4 Denise Haak
            p CEO @ Quiddity Usability Labs. Previously @ Google
      
      .boundary.speakers.lastFour
        a.speaker(href='#')
          img(src='assets/images/speaker7.png' alt='Angela Obias-Tuban')
          .description
            h4 Angela Obias-Tuban
            p UX Strategy Lead @ Metrobank

        a.speaker(href='#')
          img(src='assets/images/speaker8.png' alt='Jay Demetillo')
          .description
            h4 Jay Demetillo
            p Lead UX/Visual Designer @ Grab SG. Previously @ GV, Twitter, Pinterest, Yahoo
        
        a.speaker(href='#')
          img(src='assets/images/speaker10.png' alt='Sean Gill')
          .description
            h4 Sean Gill
            p Head of Behavioural Science @ Nudgenomics
        
        a.speaker(href='#')
          img(src='assets/images/speaker9.png' alt='Paolo Malabuyo')
          .description
            h4 Christian San Jose
            p Head of Design @ First Circle. Co-founder of UX+ Conference.
              

    section.uxplusEventDetails.bgColor-uxblack.paddingTop-xxlarge.paddingBottom-xxlarge
      .boundary
        h3.textAlign-center.marginBottom-medium Event Details
        .venue.display-flex-fromTablet.justifyContent-center
          img.marginBottom-medium-mobileOnly(src='assets/images/event-main-img.png')
          
          .description.paddingLeft-large-fromTablet
            h4 SMX Convention Center Aura
            p.fontWeight-bold.marginBottom-medium SM Aura, BGC, Taguig City, Philippines

            h4 August 24, 2019
            p.fontWeight-bold.marginBottom-medium Saturday

            h4 UX+ Conference starts at 1pm
            p.fontWeight-bold Registration booth opens 11am.
            p.fontWeight-bold.marginBottom-medium Event proper is from 1pm-7pm.
            
            
            a.button.marginRight-normal-fromTablet.marginBottom-small-mobileOnly.display-block-mobileOnly Buy Tickets
            a.button.ghost.display-block-mobileOnly.marginBottom-xxlarge Get Directions
      
      .boundary.details
        img(src='assets/images/ux-logo.svg' alt='UX Plus 2019') 
        h4.marginBottom-medium UX+ is a user experience conference in the Philippines. 

        p.marginBottom-medium UX+ is a brainchild of the people behind 8020, as well as Graphika Manila, the yearly creativity conference hailed as one of the most influential events on design this side of the world.

        p Every year, UX+ aims to be a distinctively inspiring conference, showcasing  the various approaches in UX, practiced by Product Designers, Interaction Designers, Behavioral Scientists, UX Researchers and Strategists, Product Managers, Developers, Startup Founders, Creative Technologists and Innovators. We invite some of the best and most renowned thinkers, collaborators and partners to all come together over a one-day, jam-packed event.

    section.uxplusFAQ.bgColor-blue-default.paddingTop-xxlarge.paddingBottom-xxlarge
      .boundary
        h3.marginBottom-large Frequently Asked Questions
        
        .questions.marginBottom-xlarge-fromTablet
          .question
            h4 Do you accept credit card payment?
            p Credit card payments are only accepted via our online store. Our ticket partners only accept cash and company check payments.
          
          .question
            h4 I'm not a UX practitioner or designer, can I still attend?
            p Yes! If you appreciate good UX, passionate about design and a creative at heart, you are very welcome to attend the event.
        .questions.marginBottom-xlarge-fromTablet
          .question
            h4 What's the difference between a conference and a student pass?
            p Conference and student passes have the same privileges. Students must present A VALID ID upon entry. Only students enrolled during the school year 2018-2019 are considered valid.
          
          .question
            h4 If I buy a ticket online, how am I gonna get my ticket?
            p After you made your purchase online, you will receive an email voucher. You may present a printed or digital copy of the voucher on the event day to claim ticket/s. 
        .questions.marginBottom-xlarge-fromTablet
          .question
            h4 Are tickets transferrable?
            p Yes. If you have the actual ticket, the attending participant may use it on event day. However, if you have the voucher and claiming the ticket on the event day, please have the attending participant bring the voucher, authorization letter and a photocopy of your ID to claim the ticket.
          .question
            h4 Can I still purchase tickets on the event day?
            p If we have not reached our total seats until the day of the event, then yes. Sometimes our tickets get sold out prior event. We suggest to secure your tickets the soonest time possible.

    section.uxplusTickets
      .boundary
        
        .card 
          h3 Conference Pass
          p.amount PhP 2,600
          p PhP 2,800 at the Gate (Subject to availability if not sold out)
          im
        .card 
          h3 Student Pass
          p.amount PhP 2,300
          p PhP 2,500 at the Gate (Subject to availability if not sold out)

        h3 Buy Your Tickets Now
        a.button.ghost Online via Credit Card / Paypal
        a.button.ghost Bank Deposit via BDO
        a.button.ghost Direct Purchase via Ticket Partners

        h3 Ticket Inclusions
        h4 Admission to the conference
        p 8 amazing talks about user experience &amp; design
        h4 E-Certificate of attendance
        p Proof of your participation in the UX+ Conference

    section.uxplusTerms
      .boundary 
        h3 Terms &amp; Conditions
        p Tickets are non-refundable but transferrable.
        p Food/lunch not included in the ticket price.
        p Regular conference &amp; student passes have the same privileges.
        p Students should present a valid ID upon entry.
        p UX+ reserves the right to cancel or replace speakers.


    section.uxplusContact
      .boundary
        h3 Get in touch

        h4 Graphika Manila Design Studio
        p Cordillera St., Boni, Mandaluyong 1550
        p Phone: (+632) 941 9540
        p Inquiries will be entertained weekdays 1PM-5PM

        h4 Looking for Tickets?
        p Visit our tickets section to find out how to buy tickets

        h4 For Press, Program, and Partnership
        p Aram Beheshti - graphika@graphikamanila.com

        h4 For Bulk Tickets and Payment
        p Ella Saballa - ella@graphikamanila.com

        h4 For Ticket Orders
        p Bea Mendiola - bea@graphikamanila.com

    footer
      .boundary
        h6 Copyright UX+ Conference 2019
        p Organized by 8020 and Graphika Manila
