doctype html
html
  head
    title UX Plus
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='assets/css/style.css', rel='stylesheet')

  body
    header.navigation
      .boundary.display-flex.alignItems-center
        a.uxplusLogo(href='#')
          img(src='assets/images/ux-logo.svg' alt='UX Plus 2019') 
        nav
          a.link(href='#') Speakers
          a.link(href='#') Location
          a.link(href='#') About
          a.link(href='#') FAQs
          a.button(href='#') Buy Tickets

  