colors = {
  red-default      :  hsl(19, 65, 53),
  red-pale         :  hsl(19, 100, 86),
  blue-default     :  hsl(212, 63, 42),
  blue-highlight   :  hsl(212, 69, 55),
  blue-pale        :  hsl(212, 38, 80),
  uxyellow         :  hsl(53, 92, 52),
  uxwhite          :  hsl(0, 0, 100),
  uxblack          :  hsl(252, 8, 15)
}

spaces = {
  xxsmall : 4px,
  xsmall  : 8px,
  small   : 12px,
  normal  : 16px,
  medium  : 24px,
  large   : 32px,
  xlarge  : 48px,
  xxlarge : 60px,
  xxxlarge: 120px
}

font-sizes = {
  small  : 0.8em,
  normal : 1em,
  medium : 1.2em,
  large  : 1.6em,
  xlarge : 2em
}

line-heights = {
  normal : 1.7em
}

radius = {
  default  : 12px
}

containers = {
  mobile-max   : 720px,
  tablet-max   : 800px,
  desktop-max  : 960px,
  wide-support : 1600px
}

displays = {
  none          : none,
  flex          : flex,
  inlineBlock   : inline-block,
  block         : block
}

text-alignments = {
  center : center,
  right : right
}

flex-props = {
  start   : flex-start,
  end     : flex-end,
  center  : center
}

flex-directions = {
  row    : row,
  column : column
}

fonts = {
  regular : 'MGBook',
  bold    : 'MGBold',
  black   : 'MGBlack'
}


@font-face
  font-family 'MGBook'
  src url('../fonts/menagrotesk-book-webfont.woff2') format('woff2'),
      url('../fonts/menagrotesk-book-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'MGBold'
  src url('../fonts/menagrotesk-bold-webfont.woff2') format('woff2'),
      url('../fonts/menagrotesk-bold-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face 
  font-family 'MGBlack'
  src url('../fonts/menagrotesk-black-webfont.woff2') format('woff2'),
      url('../fonts/menagrotesk-black-webfont.woff') format('woff')
  font-weight normal
  font-style normal

// Functions

forMobileOnly()
  @media (max-width: containers[mobile-max])  
    {block}
    
forTablet()
  @media (min-width: containers[mobile-max])  
    {block}

forDesktop()
  @media (min-width: containers[tablet-max])  
    {block}
    
      
createUtilityClasses(targetHash, className, property)
  for key, value in targetHash
    .{className}-{key}
      {property} value
      
      &-mobileOnly
        +forMobileOnly()
          {property} value
      
      &-fromTablet
        +forTablet()
          {property} value
    
  

// Resets & Foundation
html, body
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  
  color colors[uxblack];
  font-family 'MGBook', Helvetica, sans-serif
  font-size 18px
  
  letter-spacing 0.005em
  margin 0
  padding 0


h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
  
a
  transition all 450ms

strong 
  font-family 'MGBold', Helvetica, sans-serif

* 
  box-sizing border-box
  
img 
  max-width 100%
  
// Typography




// Containers
.boundary
  margin 0 auto
  max-width containers[mobile-max];
  padding-left spaces[medium];
  padding-right spaces[medium];

  +forTablet()
    max-width containers[tablet-max];
    padding-left spaces[large];
    padding-right spaces[large];
    
  +forDesktop()
    max-width containers[desktop-max];
    
  h3, h4, h5
    font-family 'MGBlack', Helvetica, sans-serif  
  
  h3
    font-size font-sizes[large];
  h4
    font-size font-sizes[medium];
    


// Navigation
.navigation
  background-color colors[uxblack];
  padding spaces[normal];

  .uxplusLogo img
    max-width 110px
    vertical-align middle

  nav
    display flex
    align-items center
    flex 1
    font-family fonts[bold];
    
    a:not(.button)
      display none
      @media (min-width: containers[mobile-max])
        display inline-block
  
  a.link
    margin-left spaces[xlarge];
    color colors[uxwhite];
    text-decoration none
    &:hover 
      color colors[red-default];

  .button 
    margin-left auto


// Buttons
.button
  background-color colors[blue-default];
  border-radius radius[default];
  color colors[uxwhite];
  cursor pointer
  display inline-block
  font-family fonts[bold];
  padding-top spaces[small];
  padding-bottom spaces[small];
  padding-left spaces[normal];
  padding-right spaces[normal];
  text-decoration none
  
  &:hover 
    background-color colors[blue-highlight];

  &.--medium
    padding-top spaces[normal];
    padding-bottom spaces[normal];
    padding-left spaces[medium];
    padding-right spaces[medium];
  
  &.--large
    font-size font-sizes[medium];
    padding-top spaces[medium];
    padding-bottom spaces[medium];
    padding-left spaces[large];
    padding-right spaces[large];
    
  &.ghost 
    background transparent
    box-shadow 0 0 0 3px inset colors[blue-default];
    
    &:hover
      background colors[blue-default]


// Sections
.uxplusIntro 
  background no-repeat url(../images/bg-intro-right.svg)
  background-size 60%
  background-position right bottom
  min-height 90vh
  text-align center
  transition background-size 450ms
  //padding-left spaces[large];
  //padding-right spaces[large];
  padding-top spaces[xxlarge];
  padding-bottom spaces[xxlarge];
  width 100%

  +forTablet()
    background no-repeat url(../images/bg-intro-right.svg) right bottom, no-repeat url(../images/bg-intro-left.svg) left bottom
    background-size 28%, 45%
    min-height none
    padding-top spaces[xxxlarge];
  
  img 
    padding-left spaces[normal];
    max-width 220px
    
    +forTablet()
      padding-left spaces[large];
      padding-left 85px
      max-width 490px

  h1
    color colors[red-default];
    font-size font-sizes[normal];
    text-transform uppercase
    
  p
    font-size font-sizes[normal];
    line-height line-heights[normal];
    
    +forTablet()
      max-width 500px
      margin-left auto
      margin-right auto

.uxplusOrganizers
  .boundary 
    align-items center
    justify-content center
    display flex
    flex-direction column
      
    +forTablet()
      flex-direction row

  h2
    font-size font-sizes[small];
    font-family 'MGBold', Helvetica, sans-serif
    text-transform uppercase
  
  img.graphika
    max-height 45px  
    
  img._8020
    max-height 35px


.uxplusSpeakers
  
  .speakers
    display grid
    grid-template-columns 45% 45%
    grid-column-gap spaces[large];
    grid-row-gap spaces[medium];
    justify-content center
    
    &.firstSix
      margin-bottom spaces[medium];

    +forDesktop()
      
      &.firstSix
        grid-template-columns 30% 30% 30%
        grid-column-gap 5.16%;
        grid-row-gap spaces[large];
        margin-bottom spaces[large];
        
      &.lastFour
        grid-template-columns 30% 30%
        grid-column-gap 5.16%;
        grid-row-gap spaces[large];
    

  .speaker
    text-align center
    text-decoration none
    position relative
    top 0
    
  
    img 
      padding spaces[normal];
    p
      font-size font-sizes[small];
      +forDesktop()
        font-size font-sizes[normal];
        
    &:hover 
      top -16px
    
.uxplusEventDetails
  .venue
    img
      max-height 240px
      
    .description
      text-align center 
      
      +forTablet()
        text-align left
      
  .details
    text-align center
    
    +forTablet()
      margin-top 200px
      margin-bottom 200px
      max-width 490px


.uxplusFAQ
  
  
  .questions
    p 
      font-family 'MGBold', Helvetica, sans-serif
      
    +forTablet()
      display flex
  
  .question
    
    +forMobileOnly()
      margin-bottom spaces[large]
    
    +forTablet()
      flex 1
      flex-basis 100%

// Font color settings for different backgrounds
.bgColor-blue-pale
  color colors[uxwhite];

.bgColor-blue-default
  color colors[blue-pale];
  
  h3, h4
    color colors[uxwhite];

.bgColor-red-default
  h3, h4
    color colors[uxwhite];
  p 
    color colors[red-pale];

.bgColor-uxblack
  h3, h4
    color colors[uxwhite]
    
  p
    color colors[red-pale];








// UTILITIES

// - Colors
createUtilityClasses(colors, fontColor, color)
createUtilityClasses(colors, bgColor, background-color)

// - Box
createUtilityClasses(displays, display, display)
createUtilityClasses(flex-props, justifyContent, justify-content)
createUtilityClasses(flex-props, alignItems, align-items)
createUtilityClasses(flex-directions, flexDirection, flex-direction)

// - Type 
createUtilityClasses(font-sizes, fontSize, font-size)
createUtilityClasses(fonts, fontWeight, font-family)
createUtilityClasses(text-alignments, textAlign, text-align)

// - Padding
createUtilityClasses(spaces, padding, padding)
createUtilityClasses(spaces, paddingTop, padding-top)
createUtilityClasses(spaces, paddingRight, padding-right)
createUtilityClasses(spaces, paddingBottom, padding-bottom)
createUtilityClasses(spaces, paddingLeft, padding-left)

// - Margin
createUtilityClasses(spaces, margin, margin)
createUtilityClasses(spaces, marginTop, margin-top)
createUtilityClasses(spaces, marginRight, margin-right)
createUtilityClasses(spaces, marginBottom, margin-bottom)
createUtilityClasses(spaces, marginLeft, margin-left)

